.card {
    box-shadow: 14px 14px 5px -6px rgba(0,0,0,0.45);
    border-radius: 22px 22px 22px 22px;
    padding: 30px;
    height: 250px;
    margin: 20px;
    min-width: 400px;
    background-color: #fff;
    color: #4d4d4d;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.card .content {
    padding: 0 0 10px 0;
}

.card .footer {
    color: #fff;
    background-color: #4d4d4d;
    display: block;
    padding: 10px 40px;
    border-radius: 22px 22px 22px 22px;
}

ul {
    list-style: none;
}
